<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Portfolio.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <!-- Head site -->
    <title>Alexandre Dauba | Portfolio - Apprenti Développeur d'Applications Bureau - Mont de Marsan - Landes</title>
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="Je m'appelle Alexandre Dauba,j'ai 19 ans, je suis Apprenti Développeur d'Applications Bureau à Mont de Marsan chez Adour Gestion Informatique, Voici mon site web portfolio et CV"/>
    <meta name="author" content="Alexandre Dauba"/>
    <meta name="keywords" content=""/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- CSS & frameworks -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>

</html>