@page "/Projets"

<PageTitle>Projets</PageTitle>


<!-- PORFTFOLIO  ---------------------------------------->
<div id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="w-100">
                <h1 class="titreBorder">Mes projets</h1>
            </div>

            <!-- Content Web -->
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-sm-3 work-item sc-item">
                        <a href="/Login" data-toggle="modal" data-target="#hockey">
                            <img class="img-fluid" src="images/coffre.jpg" alt="Projet Coffre-Fort Numérique"/>
                            <div class="overlay"><i class="fa fa-search-plus"></i>Projet Coffre-Fort Numérique</div>
                        </a>
                    </div>
                    <div class="col-sm-3 work-item sc-item">
                        <a href="/Portfolio" data-toggle="modal" data-target="#aim">
                            <img class="img-fluid" src="images/portfolio.png" alt="Projet Site Web Portfolio"/>
                            <div class="overlay"><i class="fa fa-search-plus"></i>Site web Portfolio</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN contents -->
    </div>
</div>

<!-- PORFTFOLIO END ---------------------------------------->